<div class="user">
  <div class="user-group">
    <img src="/src/assets/images/users_image/user_default.png" class="user-image" alt="User Image Not Found">
  </div>
  <div class="user-group">
    <span>{{userName | uppercase}}</span>
  </div>
</div>
<hr style="color: white">
<mat-list>
  <mat-list-item (click)="toAdd()" class="mat-list-item">
    <mat-icon class="mat-icon">add_box</mat-icon>
    Add new
  </mat-list-item>
  <mat-list-item (click)="toList()" class="mat-list-item">
    <mat-icon class="mat-icon">view_list</mat-icon>
    Show List
  </mat-list-item>
  <mat-list-item (click)="toLogin()" class="mat-list-item">
    <mat-icon class="mat-icon">power_settings_new</mat-icon>
    Logout
  </mat-list-item>
</mat-list>

