<div class="movie-box">
  <div class="image-box">
    <div class="image"><img src={{film.avatar_movie_url}} alt="" class="img-full-width"></div>
    <div class="watch-box">
      <button *ngIf="!movie_type" mat-raised-button (click)="playMovie(null)" > <mat-icon>arrow_right</mat-icon> <span class="spanWatchNow">{{watch_now}}</span> </button>
    </div>
  </div>
  <div class="detail-box">
    <div class="title-box">
      <div class="title">
        <p class="movie-title">{{film.movie_name}}</p>
      </div>
      <div class="share">
        <button mat-icon-button class="icon share-icon" ><i class="fas fa-share-alt"></i></button>
        <button mat-icon-button class="icon heart-icon" ><i class="fas fa-heart"></i></button>
      </div>
      <div class="rating">
        <span class="fa fa-star  {{item.active?'active':''}}"  *ngFor="let item of starList.starRatingList"> </span> <span matBadge={{rateView}} matBadgeColor="accent" matBadgeSize="medium" matBadgeOverlap="false"></span>
      </div>
    </div>
    <div class="content-box">
      <mat-tab-group>
        <mat-tab label="OVERVIEW">
          <div class="overview-box">
            <div class="overview-left">
              <div class="description-box">
                <p class="description">
                  {{film.movie_content}}
                </p>
              </div>
              <div class="trailer-box">
                <button  mat-raised-button class="trailer_label" >Watch Trailer</button>
                  <iframe width="400" height="350"  [src]='url' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
              </div>
              <div class="cast-box">
                <div class="cast-title">Cast</div>
                <hr style="background: white; opacity: 0.5;max-width: 300px">
                <div class="cast" *ngFor="let cast of actors">
                  <div class="cast-image">
                    <img src={{cast.avatar_url}} alt="Actor Avatar">
                  </div>
                  <div class="cast-name"><a (click)="getFilmByActor(cast)">{{cast.actor_name}}</a></div>
                </div>
              </div>
            </div>
            <div class="overview-right">
              <p class="titleP">Directors :</p>
              <p class="contentP"><a (click)="getFilmByDirector(dir)" *ngFor="let dir of directors">{{dir.director_name}} <br> </a></p>
              <p class="titleP">State :</p>
              <p class="contentP">{{film.state}}</p>
              <p class="titleP">Release Date :</p>
              <p class="contentP">{{film.date_of_manufacture}}</p>
              <p class="titleP">Duration :</p>
              <p class="contentP">{{film.duration}} minutes</p>
              <p class="titleP">Quality :</p>
              <p class="contentP">{{film.quality}}</p>
              <p class="titleP">Country :</p>
              <p class="contentP"><a (click)="getFilmByCountry(film.country_id,film.country_name)" >{{film.country_name}}</a></p>
              <p class="titleP">Company :</p>
              <p class="contentP"><a  >{{film.company_name}}</a></p>
              <p class="titleP">Language :</p>
              <p class="contentP">{{film.language}}</p>
              <p class="titleP">Genres :</p>
              <p class="contentP"> <a (click)="getFilmByGenre(kind)" *ngFor="let kind of kinds">{{kind.kind_name}} <br> </a></p>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="SEASONS" *ngIf="movie_type">
          <div class="season">
            <div class="season-box" *ngFor="let season of seasons">
             <div class="season-left">
               <img src={{season.avatar_movie_url}}>
             </div>
              <div class="season-detail">
                <h4 (click)="playMovie(season)">SEASON {{season.season}}</h4>
                <p>{{season.episodes}} Episodes</p>
                <p>Date : {{season.date}}</p>
                <p>{{season.season_content}}</p>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="COMMENT">
          <app-comment></app-comment>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
