<div class="body">
    <form class="formGroup">
      <div class="header">
        <h2 class="title">SIGN IN</h2>
      </div>
      <mat-form-field class="form">
        <mat-label>Username</mat-label>
        <input matInput class="userName" #user  [formControl]="userNameFormControl" required autofocus placeholder="username">
        <mat-error *ngIf="userNameFormControl.hasError('required')">
          Please enter a valid username.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Password</mat-label>
        <input matInput class="password" #pass [formControl]="passwordFormControl" required type={{password}} placeholder="password">
        <button mat-button mat-icon-button matSuffix class="showPass" type="button" (click)="showPass()" >
          <mat-icon>{{visibility}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="form footer">
        <button mat-raised-button color="primary" class="logBtn" type="submit" (click)="login(user.value,pass.value)" >LOGIN</button>
      </div>
    </form>
</div>
