.title, .form{
  box-sizing: border-box;
  font-family: Arial,Tahoma,sans-serif;
}
.title {
  text-align: center;
  font-size: 2em;
  color: #777;
  font-weight: 900;
}
.body {
  background: forestgreen;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 1px;
}

.root-div {
  min-width: 350px;
  width: 30%;
  max-width: 400px;
  margin: 15% auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
