<div class="opacity-box"></div>
<div class="movie-play-container">
  <div class="movie-box">
    <div class="movie">
      <iframe [src]='url' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="title">
        <h3 *ngIf="check">{{film.movie_name}}</h3>
        <!-- case 2: -->
        <h3 *ngIf="!check">SEASON {{season.season}}</h3>
        <app-comment></app-comment>
      </div> <!--end .movie-title -->
      <div class="comment-box"></div>
    </div>
    <div class="movie-list-box">
      <h4>RELATED MOVIES</h4>
      <div (click)="goToDetail(item)" class="movie-list" *ngFor="let item of relatedMovie">
        <div class="movie-img">
          <img src={{item.avatar_movie_url}} alt="tao lao">
        </div>
        <div class="title-box">
          <div class="title">
            <p *ngIf="check">{{item.movie_name}}</p>
            <!-- case 2: -->
            <p *ngIf="!check">Season {{item.season}}</p>
          </div>
          <div class="description">
            <p *ngIf="check" class="company">{{item.company_name}}</p>
            <p *ngIf="check" class="view">{{item.view}} views</p>
            <!-- case 2: -->
            <p *ngIf="!check" class="company">{{item.episodes}} episodes</p>
            <p *ngIf="!check" class="view">{{item.date}}</p>
          </div>
        </div>
      </div>

    </div>
  </div><!-- end .movie-box -->








</div>
