<div class="opacity-box"></div>
<div class="movie-play-container">
  <div class="movie-box">
    <div class="movie">
      <iframe [src]='url' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="title">
        <h3>{{film.movie_name}}</h3>
        <p>{{film.view}} views</p>
      </div> <!--end .movie-title -->
      <div class="comment-box"></div>
    </div>
    <div class="movie-list-box">
      <h4>RELATED MOVIES</h4>
      <div (click)="goToDetail(item)" class="movie-list" *ngFor="let item of relatedMovie">
        <div class="movie-img">
          <img src={{item.avatar_movie_url}} alt="tao lao">
        </div>
        <div class="title-box">
          <div class="title">
            <p>{{item.movie_name}}</p>
          </div>
          <div class="description">
            <p class="company">{{item.company_name}}</p>
            <p class="view">{{item.view}} views</p>
          </div>
        </div>
      </div>

    </div>
  </div><!-- end .movie-box -->




</div>
