<div class="container-capture">
  <div class="title_box">
    <h3 class="title">Add/Edit Your Image</h3>
  </div>

  <mat-horizontal-stepper [linear]="true" class="mat-h-stepper" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" >
        <ng-template matStepLabel>Upload your image</ng-template>
          <img [src]="url" height="200"> <br/>
          <input placeholder="Image file's url" type="file" formControlName="firstCtrl" (change)="onSelectFile($event)"  required>
        <div>
          <button class="btn btnNext" type="button" mat-stroked-button color="accent" matStepperNext  >Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" >
        <ng-template matStepLabel>Fill out description of image</ng-template>
        <mat-form-field>
          <input matInput placeholder="Description"  formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button type="button" class="btn btnBack" color="accent" mat-stroked-button matStepperPrevious>Back</button>
          <button type="button" class="btn btnNext" color="accent" mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button type="button" class="btn btnBack" color="accent" mat-stroked-button matStepperPrevious>Back</button>
        <button type="button" class="btn btnUp" color="accent" mat-raised-button color="primary" (click)="uploadImage()" >Upload</button>
        <button mat-raised-button class="btn btnNext" color="accent" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>


</div>
