.title_box{
  margin-top: 2em;
  border-bottom:1px #777777 solid ;
}
.title_box .title{
  font-family: Tahoma, Arial, sans-serif;
  padding: 0 1em;
}

.btn {
  margin-top: 10px;
  margin-right: 10px;
}
