/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mat-raised-button.mat-primary {
  background: #50a24d;
}

.mat-raised-button.mat-accent {
  background: #a22932;
}
.mat-form-field-infix-search .mat-form-field-infix {
  border-top: 1px solid transparent !important;
}

.mat-dialog-container {
  padding: 0 !important;
}
