.mat-form-field {
  width: 100%;
  margin-top: 1em;
}
.mat-dialog-actions {
  justify-content: center;
}
.mat-dialog-title {
  text-align: center;
  font-weight: bold;
}
.div-close {
  text-align: right;
}

.btn-close {
  border: 0;
  cursor: pointer;
}

.img-box {
  text-align: center;
  max-width: 100%;
}
.img {
  max-width: 100%;
}

.btn {
  margin-right: 10px;
}

.mat-spinner {
  position: fixed;
  top: 50%;
  left: 45%;
}


