
<div class="container">
  <div class="title_box">
    <h2 class="title">Heroes</h2>
    <div class="header-right">
      <div class="header-right-item">
        <button mat-button (click)="sortName()"><mat-icon>{{sort}}</mat-icon> Sort By Name</button>
      </div>
      <button mat-button class="header-right-item">
        <mat-slide-toggle color="primary"  (change)="showFavorite($event)">Only favorite heroes</mat-slide-toggle>
      </button>
      <mat-form-field class="mat-form-field-infix-search header-right-item">
        <input matInput class="searchTxt" (keyup)="doSearch($event)" placeholder="Search name"  #search type="text">
      </mat-form-field>
    </div>
  </div>

  <div class="content" >
    <div *ngIf="(limg.length==0)">Cant find the hero with this name</div>
    <div class="item" *ngFor="let item of limg"  >
      <mat-card class="example-card">
        <button mat-icon-button class="btn-close" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog(item)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="openDeleteDialog(item)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <mat-card-content class="img_box">
          <img class="img" src={{item.url}}>
          <h3>{{item.name}}</h3>
          <mat-card-subtitle class="mat-card-subtitle">{{item.description}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="addFavorite(item)" color="accent">
            <mat-icon *ngIf="!item.favorite" >favorite_border</mat-icon>
            <mat-icon *ngIf="item.favorite" >favorite</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openShareDialog(item)">
            <mat-icon>share</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
