*{
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.title_box{
  margin-top: 2em;
  border-bottom:1px #777777 solid ;
  display: flex;
  flex-direction: row;
}
.title_box .title{
   font-family: Tahoma, Arial, sans-serif;
   padding: 0 1em;
 }
.search {
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  text-align: right;
  margin-right: 5em;

}

.searchTxt {
  height: 30px;

}

.sortName {
  width: 15em;
  display: flex;
  flex-direction: row;
}
.sortName h4 {
  margin-top: 1em;
}

.content {
  display: flex;
  padding: 1.5em;
  flex-wrap: wrap;
  overflow-y: scroll;
  height:95%;
}
.content .item {
  background: aliceblue;
  padding: 0.3em;
  margin: 0 1em 1em 0;
  width: 24%;
}
.content .item:hover {
  box-shadow: 0 0 3px 3px #1da21f ;
}
.item .img_box{
  padding: 0.5em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  min-height: 350px;
  max-height: 350px;
}
.item .img_box h3 {
  margin-top: 1em;
}
.item .img_box .img {
  max-width: 100%;
  height: 240px;
}

.item .desc_box{}
.item .desc {
  font-weight: bold;
  padding: 0.2em;
}
.btn-close{
  border: 0;
  position: absolute;
  top: 1em;
  right: 1em;
  background: #ffffff;
  cursor: pointer;
}
.mat-card-subtitle {
  padding-top: 1em;
}

@media screen and (max-width: 1280px) {
  .content .item {
    background: aliceblue;
    padding: 0.3em;
    margin: 0 1em 1em 0;
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .content .item {
    background: aliceblue;
    padding: 0.3em;
    margin: 0 1em 1em 0;
    width: 46%;
  }
  .search {
    width: 100%;
    right: 0;
    position: relative;
    top: 0;
    z-index: 99;
    text-align: right;
    margin-right: 0;

  }
}
@media screen and (max-width: 500px) {
  .content .item {
    background: aliceblue;
    padding: 0.3em;
    margin: 0 1em 1em 0;
    width: 100%;
  }
  .search {
    width: 100%;
    position: relative;
    right: 0;
    top: 0;
    z-index: 99;
    text-align: right;
    margin-right: 0;

  }
}
