.container {
  width: 100%;
}
.linkTxt {
  max-width: 500px;
  width: 500px;
}

.btnCopy {
  margin-right: 0.5em;
}


@media screen and (max-width: 599px) {

  .container {
    max-height: 100%;
  }
  .linkTxt {
    text-align: center;
    max-width: 400px;
    width: 200px;
  }

}
