<div class="comment-box">
  <div class="commented" *ngFor="let item of comment">
    <div class="comment-title">
      <i class="fas fa-user-ninja"></i>
      <div>
        <p class="comment-username">{{item.email}}</p>
        <p class="comment-date">{{item.comment_date}}</p>
      </div>
    </div>
    <div class="comment-content">
      <p>
        {{item.comment}}
      </p>
    </div>
  </div>
</div>
<div id="respond" class="comment-box">
  <h3 id="reply-title" class="comment-reply-title">Leave a Review
  </h3>
  <form class="comment-form" >
    <p class="comment-notes">
      <span id="email-notes">Your email address will not be published.</span>Required fields are marked<span class="required">*</span>
    </p>
    <label class="lb-comment">Review</label>
    <textarea id="comment" [formControl]="formComment" rows="4" name="comment" placeholder="" class="input" aria-required="true"></textarea>
    <p class="comment-form-author">
      <label class="lb-comment" for="author">Name<span class="required"> *</span></label>
      <input id="author" name="author" [formControl]="formName" type="text" class="input" value="" size="30" maxlength="245" required="required"></p>
    <p class="comment-form-email">
      <label class="lb-comment" for="email">Email <span class="required"> *</span></label>
      <input id="email" name="email" type="email" [formControl]="formEmail" class="input" value="" size="30" maxlength="100" aria-describedby="email-notes" required="required">
    </p>
    <!--Rating-->
    <div class="wrap-rating in-post">
      <span class="rating-title">Rating<sup>*</sup></span>
      <div class="rating">
        <span class="fa fa-star {{item.hover?'hover':''}} {{item.active?'active':''}}" (mouseover)="starRatingList.mouseOverStar(item.id)" (click)="starRatingList.mouseActiveStar(item.id)" (mouseleave)="starRatingList.mouseLeaveStar()" *ngFor="let item of starRatingList.starRatingList"></span>
      </div>
    </div>
    <!--/Rating-->
    <div class="btn-submit">
      <button (click)="send()" type="submit" mat-raised-button color="primary">Send</button>
      <button  mat-raised-button color="warn" (click)="reset()">Reset</button>
    </div>
  </form>
</div>
